<div class="user-chat-container" fxLayout="row" (click)="userSelectedEmit(user._id)"
  [class.active]="active">
  <div class="user-chat-img" fxLayout="row" fxLayoutAlign="center center">
      <img *ngIf="user?.avatar" [src]="user?.avatar.url">
      <img *ngIf="!user?.avatar" src="https://i.pinimg.com/564x/ff/21/46/ff21464e9b32158399b1e9e3d0e61414.jpg" alt="sunil" />
  </div>
  <div
    class="user-chat-detail"
    fxLayout="column"
    fxLayoutAlign="center center"
    [matBadge]="user.totalMessages"
    matBadgeColor="warn"
    matBadgePosition="above before"
    matBadgeSize="large"
    [matBadgeHidden]="user.totalMessages === 0"
    >
      <h1>{{ user.name | titlecase }}</h1>
      <span class="text-success" *ngIf="user.online"><i>Online</i></span>
      <span class="text-danger" *ngIf="!user.online"><i>Offline</i></span>
  </div>
</div>
