@import '../../../../sass/variables.scss';

.user-chat-container {
  margin-top: 15px;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
  .user-chat-img {
    height: auto;
    width: 150px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  .user-chat-detail {
    background-color: $white-0;
    width: 100%;
    h1 {
      font-weight: 500;
      font-size: 27px;
      color: $primary-0;
      margin: 0;
    }
    .text-success {
      color: $green-0;
    }
    .text-danger {
      color: $red-0;
    }
  }
}

.active {
  .user-chat-detail {
    background-color: $gray-2;
    margin: 15px;
    border-radius: 10px;
  }
}
