:host {
  mat-sidenav-container {
    position: absolute;
    top: 104px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav {
    width: 329px;
    -webkit-box-shadow: -22px 8px 21px 25px rgba(0,0,0,0.06);
    -moz-box-shadow: -22px 8px 21px 25px rgba(0,0,0,0.06);
    box-shadow: -22px 8px 21px 25px rgba(0,0,0,0.06);
    overflow: auto;
  }
}

.content {
  padding: 50px;
}
