/* Variables SCSS*/

$primary-0: #233B54;
$primary-1: #286FF1;
$primary-2: #2404C7;
$primary-4: #162E47;
$gray-0: #999999;
$gray-1: #757575;
$gray-2: #EBEBEB;
$gray-3: #7D7D7D;
$gray-4: #B6B6B6;
$gray-5: #969490;
$gray-6: #979797;
$gray-8: #D4D2D2;
$gray-9: rgba(0, 0, 0, 0.12);
$white-0: #FFFFFF;
$black-0: #000000;
$black-1: #212121;
$yellow-0: #E2AA07;
$red-0: #BD2106;

/* Responsive Breakpoints */

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
