<div fxLayout="row" class="auth-container">
  <div fxLayout="column" class="login-left">
    <div class="auth-logo">
      <img class="logo" src="assets/images/logo-pokemon.jpg" alt="logo">
    </div>
  </div>
  <div fxLayout="column" class="auth-border" fxLayoutGap="125px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="auth-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxFlex="500px">
          <h1 class="auth-title">Welcome to Pokemon App,</h1>
          <h3>Please enter your old and new password</h3>
          <div fxLayout="column" fxLayoutGap="37px">
            <div>
              <app-input-field [placeholder]="'Password'" [type]="'password'" formControlName="password">
              </app-input-field>
              <div class="errors-container">
                <ng-container *ngIf="password.errors && (password.dirty || password.touched)">
                  <span *ngIf="password.errors?.required">The field is required</span>
                  <span *ngIf="password.errors?.minlength">Minimum of 8 characters password</span>
                </ng-container>
              </div>
            </div>
            <div>
              <app-input-field [placeholder]="'Repeat Password'" [type]="'password'" formControlName="newPassword">
              </app-input-field>
              <div class="errors-container">
                <ng-container *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                  <span *ngIf="newPassword.errors?.required">The field is required</span>
                  <span *ngIf="newPassword.errors?.minlength">Minimum of 8 characters password</span>
                </ng-container>
              </div>
            </div>
            <mat-error *ngIf="form.errors?.nonEqualPasswords">
              Passwords do not match
            </mat-error>
            <app-button
              [label]="'Change Password'"
              [color]="'blue'"
              [type]="'submit'"
              [disabled]="form.invalid"
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
