@import '../../../../sass/mixins.scss';
@import '../../../../sass/variables.scss';

:host {
  h1 {
    @include text(600, 30px, $primary-0);
    margin-top: 25px;
  }
  app-button {
    width: 150px;
  }
  app-upload-pokemon-image {
    margin-bottom: 25px;
  }
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}
