@import '../../../../sass/mixins.scss';
@import '../../../../sass/variables.scss';

:host {
  @include selectStyle($white-0, $gray-1);
}

.paginator-container {
  padding: 20px 0 20px 0;
  .pagination {
    a {
      border-radius: 5px;
      width: 32px;
      height: 32px;
      background-color: transparent;
      color: $primary-0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: $white-0;
      color: $primary-0;
      &.active {
        background-color: $primary-0;
        color: $white-0;
      }
    }
  }
  .paginator-label-records {
    color: $gray-1;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    .items-perpage {
      margin-right: 20px;
    }
  }
}
