<div class="pokemon-form-container">
  <form [formGroup]="form" fxLayout="column" fxLayoutGap="50px">
    <!-- <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-between center">
      <app-input-field [placeholder]="'Name'"></app-input-field>
      <app-input-field [placeholder]="'Generation'"></app-input-field>
    </div>
    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="space-between center">
      <app-input-field [placeholder]="'Weight'"></app-input-field>
      <app-input-field [placeholder]="'Pokedex Number'"></app-input-field>
    </div>
    <div class="japanese-name">
      <app-input-field [placeholder]="'Japanese Name'"></app-input-field>
    </div>
    <div class="pokemon-abilities">
      <h5>Pokemon Abilities</h5>
      <div *ngFor="let ability of pokemonAbilities" fxLayout="column">
        <mat-checkbox>{{ ability?.name | titlecase }}</mat-checkbox>
      </div>
    </div>
    <div class="pokemon-types">
      <h5>Pokemon Types</h5>
      <div *ngFor="let type of pokemonTypes" fxLayout="column">
        <mat-checkbox>{{ type?.name | titlecase }}</mat-checkbox>
      </div>
    </div>
    <div class="is-legendary">
      <mat-checkbox>Is Legendary?</mat-checkbox>
    </div> -->
  </form>
</div>
