@import '../../../../sass/variables.scss';

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 16px;
  font-weight: 400;
  color: $white-0;
  background-color: $primary-0;
  padding: 15px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.inputfile + label {
	cursor: pointer;
}
