@import '../../../../sass/mixins.scss';
@import '../../../../sass/variables.scss';

:host {
  app-input-search {
    width: 350px;
  }
  h1 {
    @include text(600, 30px, $primary-0);
    margin-top: 25px;
  }
  @include selectStyle($primary-0, $white-0);
  mat-select {
    margin-bottom: 15px;
  }
  table {
    box-shadow: none;
    th.mat-header-cell {
      @include text(400, 20px, $white-0);
      background-color: $primary-0;
    }
    td.mat-cell {
      @include text(400, 15px, $black-0);
      padding: 25px 7px;
    }
  }
  mat-card {
    margin-bottom: 15px;
    -webkit-box-shadow: 5px 5px 18px -9px #000000; 
    box-shadow: 5px 5px 18px -9px #000000;
    h1 {
      @include text(700, 25px, $primary-0);
    }
    .pokedex {
      background-color: $primary-0;
      color: $white-0;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    mat-list {
      mat-list-item {
        strong {
          color: $primary-0;
          margin-right: 10px;
        }
      }
    }
  }
}

.pokemon-img {
  img {
    width: 100%;
    height: 45px;
    width: 60px;
  }
}

.pokemon-list-container {
  height: 700px;
  --scrollbar-color: transparent;
  --scrollbar-container-color: transparent;
  --scrollbar-thumb-color: transparent;
  --scrollbar-thumb-hover-color: transparent;
  --scrollbar-border-radius: 4px;
  --scrollbar-size: 3px;
  --scrollbar-padding: 3px;
  --scroll-view-margin: 0;
  --scroll-view-color: transparent;
}
