<span [ngSwitch]="(size$ | async)">
  <div *ngSwitchCase="'xs'" fxLayout="column" fxLayoutGap="25px">
    <ng-container [ngTemplateOutlet]="search"></ng-container>
    <ng-container [ngTemplateOutlet]="tableSmall"></ng-container>
  </div>
  <div *ngSwitchDefault fxLayout="column" fxLayoutGap="25px">
    <ng-container [ngTemplateOutlet]="search"></ng-container>
    <ng-container [ngTemplateOutlet]="tableBig"></ng-container>
  </div>
</span>

<ng-template #tableBig>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef>Photo</th>
      <td mat-cell *matCellDef="let pokemon" class="pokemon-img">
        <img  *ngIf="pokemon?.avatar" [src]="pokemon.avatar.url" />
      </td>
    </ng-container>

    <ng-container matColumnDef="pokedex">
      <th mat-header-cell *matHeaderCellDef>
        <app-sort-indicator 
          [label]="'No. Pokedex'"
          [columnName]="'pokedexNumber'"
          [sort]="filters.sort"
          (click)="toogleSortByColumn('pokedexNumber')">
        </app-sort-indicator>
      </th>
      <td mat-cell *matCellDef="let pokemon"> {{ pokemon.pokedexNumber }} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <app-sort-indicator 
          [label]="'Name'"
          [columnName]="'name'"
          [sort]="filters.sort"
          (click)="toogleSortByColumn('name')">
      </app-sort-indicator>
      </th>
      <td mat-cell *matCellDef="let pokemon"> {{ pokemon.name | titlecase }} </td>
    </ng-container>
  
    <ng-container matColumnDef="generation">
      <th mat-header-cell *matHeaderCellDef>
        <app-sort-indicator 
          [label]="'Generation'"
          [columnName]="'generation'"
          [sort]="filters.sort"
          (click)="toogleSortByColumn('generation')">
      </app-sort-indicator>
      </th>
      <td mat-cell *matCellDef="let pokemon"> {{ pokemon.generation }} </td>
    </ng-container>
  
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>
        <app-sort-indicator 
          [label]="'Created By'"
          [columnName]="'createdBy'"
          [sort]="filters.sort"
          (click)="toogleSortByColumn('createdBy.name')"
          >
      </app-sort-indicator>
      </th>
      <td mat-cell *matCellDef="let pokemon"> {{ pokemon?.createdBy?.name | titlecase }} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>
        <app-sort-indicator 
          [label]="'CreatedAt'"
          [columnName]="'createdAt'"
          [sort]="filters.sort"
          (click)="toogleSortByColumn('createdAt')">
      </app-sort-indicator>
      </th>
      <td mat-cell *matCellDef="let pokemon"> {{ pokemon.createdAt | date }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let pokemon">
        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
          <span
            class="material-icons"
            (click)="goToEditPokemon(pokemon._id)"
            appPermission
            permission='edit-pokemon'
            fxFlex="100px"
            >
              mode_edit
          </span>
          <span
            class="material-icons"
            fxFlex="100px"
            >
              remove_red_eye
          </span>
          <span
            class="material-icons"
            appPermission
            permission='approve-pokemon'
            >
              fact_check
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let pokemon">
        <app-time-display [time]="pokemon.remainingTime"></app-time-display>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <div fxLayout="row" fxLayoutAlign="end">
    <app-paginator
      [page]="page"
      [pageSize]="itemPerPage"
      [len]="len"
      (pageEmitter)="filterByPage($event)"
    ></app-paginator>
  </div>  
</ng-template>

<ng-template #tableSmall>
  <div fxLayout="column" fxLayoutAlign="end">
    <form [formGroup]="sortForm" fxLayout="row" fxLayoutGap="5px">
      <mat-select formControlName="columnName">
        <mat-option *ngFor="let option of sortByOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-select formControlName="sortType">
        <mat-option *ngFor="let sort of sortByType" [value]="sort">
          {{ sort }}
        </mat-option>
      </mat-select>
    </form>
    <div *ngFor="let pokemon of pokemons">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h1>{{ pokemon.name | titlecase }}</h1>
          <div class="pokedex" fxLayout="row">
            <span>{{ pokemon.pokedexNumber }}</span>
          </div>
        </div>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <strong>Created By </strong>
            <span>{{ pokemon.createdBy.name }}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <strong>Created At </strong>
            <span>{{ pokemon.createdAt | date }}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <strong>Generation </strong>
            <span>{{ pokemon.generation }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
    <app-paginator
      [page]="page"
      [pageSize]="itemPerPage"
      [len]="len"
      (pageEmitter)="filterByPage($event)"
    ></app-paginator>
  </div>  
</ng-template>

<ng-template #search>
  <h1>Pokemon List</h1>
  <div fxFlex="50" fxLayout="row" fxLayoutAlign.gt-lg="end" fxLayoutAlign.xs="center" fxLayoutGap="15px">
    <app-input-search (valueChanged)="searchPokemons($event)" [placeholder]="'Search for a Pokemon'"></app-input-search>
    <app-button [label]="'Create Pokemon'" (submitted)="goToCreatePokemon()"></app-button>
  </div>
</ng-template>
