@import '../../../sass/mixins.scss';
@import '../../../sass/variables.scss';

:host {
  app-input-search {
    width: 440px;
  }
}

.chat-container {
  h1 {
    @include text(700, 30px, $primary-0);
    margin-top: 25px;
  }
  .inbox-people {
    // overflow: auto;
    height: 560px;
  }
  .messages {
    height: 560px;
  }
}
