<div class="toolbar-container" fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="toolbar-toggle">
      <ng-content select="button"></ng-content>
    </div>
    <div class="toolbar-title" fxLayout="row" fxLayoutGap="15px">
      <div class="toolbar-text" fxLayout="row" fxLayoutAlign="center center">
        <h1>Pokemon App</h1>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <app-socket-indicator></app-socket-indicator>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
    <div
      class="toolbar-username"
      fxLayoutAlign="center center"
      fxLayout="row"
      (click)="editProfile()"
      >
        <h1>{{ user?.name }}</h1>
    </div>
    <div class="toolbar-image" fxLayout="row" fxLayoutAlign="center center">
      <img *ngIf="user?.avatar" [src]="user.avatar?.url" alt="user-image" />
    </div>
    <span
      class="material-icons"
      (click)="logout()">
      logout
    </span>
  </div>
</div>
