<div fxLayout="row" class="auth-container">
  <div fxLayout="column" class="login-left">
    <div class="auth-logo">
      <img class="logo" src="assets/images/logo-pokemon.jpg" alt="logo">
    </div>
  </div>
  <div fxLayout="column" class="auth-border" fxLayoutGap="125px">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="auth-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxFlex="500px">
          <h1 class="auth-title">Welcome to Pokemon App,</h1>
          <h3>Send your email to recover your password</h3>
          <div fxLayout="column" fxLayoutGap="37px">
            <div>
              <app-input-field [placeholder]="'E-Mail'" [type]="'email'" formControlName="email">
              </app-input-field>
              <div class="errors-container">
                <ng-container *ngIf="email.errors && (email.dirty || email.touched)">
                  <span *ngIf="email.errors?.required">The field is required</span>
                  <span *ngIf="email.errors?.email">{{ email.errors.email.message }}</span>
                </ng-container>
              </div>
            </div>
            <app-button
              [label]="'Recovery Password'"
              [color]="'blue'"
              [type]="'submit'"
              [disabled]="form.invalid"
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
