@import '../../../../sass/variables.scss';
@import '../../../../sass/mixins.scss';

.box3 {
  width: 400px;
  margin: 50px;
  border-radius: 15px;
  &.outgoing {
    background-color: $primary-7;
    margin-left: 50%;
  }
  &.incoming {
    background: $primary-0;
  }
  color: $white-0;
  padding: 20px;
  text-align: start;
  position: relative;
}

.outgoing ::after {
  border-left: 15px solid $primary-7;
  border-top: 15px solid $primary-7;
  @include bubbleChat;
}

.incoming::after {
  border-left: 15px solid $primary-0;
  border-top: 15px solid $primary-0;
  @include bubbleChat;
}
