@import '../../../../sass/mixins.scss';
@import '../../../../sass/variables.scss';

.profile-dialog-container {
  .profile-dialog-title {
    h1 {
      @include text(600, 30px, $primary-0);
      margin-top: 25px;
    }
  }
  .profile-dialog-image {
    width: 450px;
    img {
      width: 100%;
      height: 250px;
      border-radius: 10px;
    }
  }
}

@include errorField;
