
@import './sass/mixins.scss';
@import './sass/variables.scss';
@import './styles-brand-theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary-0 $white-0;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: $white-0;
    border-radius: 0 8px 8px 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary-0;
    border-radius: 0 8px 8px 0;
  }
}
